*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbar{
    position:fixed;
    width: 100%;
    height: 10%;
    background-color: rgb(0,0,0,0.4);
    display: inline-block;
    padding-top: 20px;
}
.navbar .header-container{
    color: #fff;
    text-transform: uppercase;
    float: left;
    width:23%;
    padding-left: 30px;
    margin-right: 25%;
}
.navbar .btn-container{
    float: left;
    width: 50%;
    
}
.navbar .btn-container button{
    width: 18%;
    height: 40px;
    background-color: rgb(100,0,100,0.4);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-transform: uppercase;
}
.navbar button:hover{
    cursor: pointer;
}
.bod{
    margin-top: 10;
    width: 100%;
}
.content{
   color: #fff; 
}
.HomeCon{
    display: block;
    width: 100%;
    height:700px;
    background-color: rgb(0,0,100,0.3);
    margin-bottom: 20px;
    padding-top: 100px;
    color: #fff;
}
.AboutCon,.ContactCon,.ResumeCon,.PortfolioCon,.ServicesCon{
    display:none;
    width: 100%;
    color: #fff;
    height:700px;
    background-color: rgb(0,0,100,0.3);
    margin-bottom: 20px;
    padding-top: 100px;
}

